<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Precision Agriculture</title>
    <link rel="stylesheet" href="../../static/style.css" class="css">
</head>
<body>
    <section class="header">
        <div class="logo-container">
            <img src="../../static/Projectimg/logo5.png" alt="" class="logo">
        </div>
        <div class="navbar">
            <ul>
                <li><a href="{{url_for('Homepage.homepage')}}">Home</a></li>
                <li><a href="{{url_for('Mappage.map')}}">Agriculture Map</a></li>
                <li><a href="{{url_for('Cropinformationpage.cropinfromationpage')}}">Crop Information</a></li>
                {% if not current_user.is_authenticated %}
                    <li><a href="{{url_for('users.login')}}">Login</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                    {% if current_user.role == 'users' %}
                        <li class="active"><a href="{{url_for('users.profile')}}">Profile</a></li>
                    {% endif %}
                    {% if current_user.role == 'admin' %}
                        <li><a href="{{url_for('users.admin')}}">Admin</a></li>
                    {% endif %}
                    <li><a href="{{url_for('users.logout')}}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </section>
    {% block content %}
        <section class="profile-container">
            <div class="profile-element-container">
                <div class="profile-element-item">
                    <h1 class="profile-username">{{ name }}</h1>
                    <img src="../../static/Projectimg/farmer-profile.png" alt="" class="profile-image">
                    <h1 class="profile-email">Email: {{ email }}</h1>
                    <h1 class="profile-phone">Phone No: {{ phone }}</h1>
                    <h1>Your farms</h1>
                    <div class="user-farms">
                    </div>
                    <div class="add-farm-container">
                        <form action="" class="add-farm" method="POST">
                            {{ form.csrf_token() }}
                            <label for="">Add your farm</label>
                            {{ form.longitude(class="input", placeholder="Longitude") }}
                            {% for error in form.longitude.errors %}
                                {{ error }}
                            {% endfor %}
                            {{ form.latitude(class="input", placeholder="Latitude") }}
                            {% for error in form.latitude.errors %}
                                {{ error }}
                            {% endfor %}
                            {{ form.farm_name(class="input", placeholder="Name") }}
                            {% for error in form.farm_name.errors %}
                                {{ error }}
                            {% endfor %}
                            {{ form.submit(class="button") }}
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
<script>
	var toggle = false;

	function toggleColours() {		
		console.log(document.getElementsByClassName("display-block"));
		if (toggle == true) { //green-grey colour scheme
			document.getElementsByClassName("header")[0].style.backgroundColor = "white";
			document.getElementsByClassName("profile-container")[0].style.backgroundColor = "#689b6c";
			document.getElementsByClassName("footer")[0].style.backgroundColor = "#333";

			toggle = false;
		}
		else { //blue-brown colour scheme
			document.getElementsByClassName("header")[0].style.backgroundColor = "#6e4426";
			document.getElementsByClassName("profile-container")[0].style.backgroundColor = "#88CCEE";
			document.getElementsByClassName("footer")[0].style.backgroundColor = "#6e4426";			
			
			toggle = true;
		}
	}
</script>
</body>
</html>