<!DOCTYPE html>
<html>
<head>
	<title>Precision Agriculture - Interactive Map </title>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="../../static/style.css">
	<link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
	<script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
</head>
<body>
    <section class="header">
        <div class="logo-container">
            <img src="../../static/Projectimg/logo5.png" alt="" class="logo">
        </div>
        <div class="navbar">
            <ul>
                <li class="active"><a href="{{url_for('Homepage.homepage')}}">Home</a></li>
                <li><a href="{{url_for('Mappage.map')}}">Agriculture Map</a></li>
                <li><a href="{{url_for('Cropinformationpage.cropinfromationpage')}}">Crop Information</a></li>
                {% if not current_user.is_authenticated %}
                    <li><a href="{{url_for('users.login')}}">Login</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                    {% if current_user.role == 'users' %}
                        <li><a href="{{url_for('users.profile')}}">Profile</a></li>
                    {% endif %}
                    {% if current_user.role == 'admin' %}
                        <li><a href="{{url_for('users.admin')}}">Admin</a></li>
                    {% endif %}
                    <li><a href="{{url_for('users.logout')}}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </section>
    <section class="page-title-section">
    	<div class=img-container>
    		<img src="../../static/Projectimg/map-page.png" style="width: 100%">
    		<h1>Don't just plant, plant with purpose using our interactive map</h1>
    		<button onclick="scrollToSection()">Search the World to Find Your Optimum Conditions</button>
    	</div>
    </section>
	<section class="map">
		<div class="display-block">
			<div class="info-container">
				<div class="attribute-container">
					<div id="attribute-textbox">
						<h3>Name of Country:</h3>
					</div>
					<div id="info-textbox">
						<h3 id="country_name">France</h3>
					</div>
				</div>
				<div class="attribute-container">
					<div id="attribute-textbox">
						<h3>Name of Continent:</h3>
					</div>
					<div id="info-textbox">
						<h3 id="continent_name">Europe</h3>
					</div>
				</div>
				<div class="attribute-container">
					<div id="attribute-textbox">
						<h3>Minimum Temperature (°C):</h3>
					</div>
					<div id="info-textbox">
						<h3>13</h3>
					</div>
				</div>
				<div class="attribute-container">
					<div id="attribute-textbox">
						<h3>Maximum Temperature (°C):</h3>
					</div>
					<div id="info-textbox">
						<h3>24</h3>
					</div>
				</div>
				<div class="attribute-container">
					<div id="attribute-textbox">
						<h3>Average Temperature (°C):</h3>
					</div>
					<div id="info-textbox">
						<h3>20</h3>
					</div>
				</div>
				<div class="attribute-container">
					<div id="attribute-textbox">
						<h3>Solar Radiation (kW/m2):</h3>
					</div>
					<div id="info-textbox">
						<h3 id="country_name">54</h3>
					</div>
				</div>
				<div class="attribute-container">
					<div id="attribute-textbox">
						<h3>Average Windspeed (mph):</h3>
					</div>
					<div id="info-textbox">
						<h3>13</h3>
					</div>
				</div>
				<div class="attribute-container">
					<div id="attribute-textbox">
						<h3>Average Rainfall (mm):</h3>
					</div>
					<div id="info-textbox">
						<h3>6</h3>
					</div>
				</div>
				<div class="attribute-container">
					<div id="attribute-textbox">
						<h3>Salinity of Soil (dS/m):</h3>
					</div>
					<div id="info-textbox">
						<h3>500</h3>
					</div>
				</div>
				<div class="attribute-container">
					<div id="attribute-textbox">
						<h3>Soil PH:</h3>
					</div>
					<div id="info-textbox">
						<h3>11</h3>
					</div>
				</div>
				<div class="attribute-container">
					<div id="attribute-textbox">
						<h3>Soil Texture:</h3>
					</div>
					<div id="info-textbox">
						<h3>Clay</h3>
					</div>
				</div>
				<div class="recommend-container">
					<div id="attribute-textbox">
						<h3>Crop Recommendation:</h3>
					</div>
					<div id="info-textbox">
						<h3 style="padding-bottom: 10px;">- Grapes</h3>
						<h3 style="padding-bottom: 10px;">- Barley</h3>
						<h3 style="padding-bottom: 10px;">- Lavender</h3>
						<h3 style="padding-bottom: 10px;">- Olives</h3>
					</div>
				</div>
			</div>
			<div class="map-container">
					<div id="map" style="height: 100%"></div>
				</div>
		</div>
	</section>
	<section class="donation">
		<div class="display-block">
			<div class="donation-container">
				<div id="img-container">
					<img src="../../static/Projectimg/zerohunger.jpg" style="height: 396px">
				</div>
				<div id="donate-textbox">
					<h1>Donate to Stop Hunger</h1>
					<p>Donating to the United Nations Zero Hunger sustainability goals 
					is a crucial step towards ending world hunger. Around 690 million 
					people in the world suffer from hunger, and achieving the goal of zero 
					hunger by 2030 requires collective action from individuals, 
					organisations, and governments. Donations to these goals are used to 
					provide essential resources such as food, clean water, and agricultural 
					training to those in need. The Zero Hunger sustainability goals also 
					address issues such as food waste, sustainable agriculture, and social 
					protection measures for vulnerable communities. By supporting these 
					goals, we can help create a world where everyone has access to the 
					food and resources they need to live a healthy and fulfilling life</p>
					<button><a href="../Donationpage/donations.html">Donate and Save Lives</a></button>
				</div>
			</div>
		</div>
	</section>
	<section class="footer">
		<div id="admin-account">
			<button><a href="../users/login.html">Admin Centre</a></button>
		</div>
		<p>&copy; 2023 Precision Agriculture. All Rights Reserved.</p>
		<div id="colour-blind-toggle">
			<button onclick="toggleColours()">Toggle Colour Blind Mode</button>
		</div>
	</section>
<script>
	var toggle = false;

	function toggleColours() {		
		console.log(document.getElementsByClassName("display-block"));
		if (toggle == true) { //green-grey colour scheme
			document.getElementsByClassName("header")[0].style.backgroundColor = "white";
			document.getElementsByClassName("page-title-section")[0].style.backgroundColor = "#333";
			document.getElementsByClassName("display-block")[0].style.backgroundColor = "#689b6c";
			document.getElementsByClassName("display-block")[1].style.backgroundColor = "#689b6c";
			document.getElementsByClassName("footer")[0].style.backgroundColor = "#333";

			toggle = false;
		}
		else { //blue-brown colour scheme
			document.getElementsByClassName("header")[0].style.backgroundColor = "#6e4426";
			document.getElementsByClassName("page-title-section")[0].style.backgroundColor = "#88CCEE";
			document.getElementsByClassName("display-block")[0].style.backgroundColor = "#88CCEE";
			document.getElementsByClassName("display-block")[1].style.backgroundColor = "#88CCEE";
			document.getElementsByClassName("footer")[0].style.backgroundColor = "#6e4426";			
			
			toggle = true;
		}
	}
	
	function scrollToSection(){
		var element = document.querySelector('.map');
   		element.scrollIntoView({behavior: "smooth"});
	}

	mapboxgl.accessToken = 'pk.eyJ1IjoiYWxyb2JlcnRzb25leCIsImEiOiJjbGgyNjk0dWwxYW9kM2pqdXJwcDVyd25hIn0.C0kwA2ZQUzo1BJ0YzAbjIg';
    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/alrobertsonex/clh8y3kx600y601que40vfwe3',
        center: [0, 30],
        zoom: 1.75
    });
    let hoveredCountryId = null;
    
	const marker = new mapboxgl.Marker()
    	.setLngLat([1, 52.5])
		.setPopup(new mapboxgl.Popup().setHTML("<p>Field: Jeff's Field 15</p>"))
    	.addTo(map);

    map.on('load', () => {
        map.addSource('countries', {
            'type': 'vector',
            'url': 'mapbox://mapbox.country-boundaries-v1'
        });

        map.addLayer(
        	{
            'id': 'country_fills',
            'type': 'fill',
            'source': 'countries',
            'source-layer': 'country_boundaries',
            'layout': {},
            'paint': {
                'fill-color': '#447597',
                'fill-opacity': [
                    'case',
                    ['boolean', ['feature-state', 'hover'], false],
                    0.5,
                    0
                ]
            }
        });

        map.addLayer(
        	{
            'id': 'country_borders',
            'type': 'line',
            'source': 'countries',
            'source-layer': 'country_boundaries',
            'layout': {},
            'paint': {
                'line-color': '#2d648a',
                'line-width': 0.25
            }
        });

        map.on('mousemove', 'country_fills', (e) => {
            if (e.features.length > 0) {
                if (hoveredCountryId !== null) {
                    map.setFeatureState(
                        { source: 'countries',sourceLayer: 'country_boundaries', id: hoveredCountryId },
                        { hover: false }
                    );
                }
                hoveredCountryId = e.features[0].id;
                map.setFeatureState(
                    { source: 'countries',sourceLayer: 'country_boundaries', id: hoveredCountryId },
                    { hover: true }
                );
            }
        });

        map.on('mouseleave', 'country_fills', () => {
            if (hoveredCountryId !== null) {
                map.setFeatureState(
                    { source: 'countries',sourceLayer: 'country_boundaries', id: hoveredCountryId },
                    { hover: false }
                );
            }
            hoveredCountryId = null;
        });
        
        map.on('click', 'country_fills', (e) => {
            console.log(e.lngLat.wrap())
        	document.getElementById("country_name").innerHTML = e.features[0].properties["name_en"];
            document.getElementById("continent_name").innerHTML = e.features[0].properties["region"];
        });
    });
</script>
</body>
</html>
