<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/style.css">
    <title>Precision Agriculture - Crop Management</title>
</head>
<body>
    <section class="header">
        <div class="logo-container">
            <img src="../../static/Projectimg/logo5.png" alt="" class="logo">
        </div>
        <div class="navbar">
            <ul>
                <li><a href="{{url_for('Homepage.homepage')}}">Home</a></li>
                <li><a href="{{url_for('Mappage.map')}}">Agriculture Map</a></li>
                <li class="active"><a href="{{url_for('Cropinformationpage.cropinfromationpage')}}">Crop Information</a></li>
                {% if not current_user.is_authenticated %}
                    <li><a href="{{url_for('users.login')}}">Login</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                    {% if current_user.role == 'users' %}
                        <li><a href="{{url_for('users.profile')}}">Profile</a></li>
                    {% endif %}
                    {% if current_user.role == 'admin' %}
                        <li><a href="{{url_for('users.admin')}}">Admin</a></li>
                    {% endif %}
                    <li><a href="{{url_for('users.logout')}}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </section>
    <section class="page-title-section">
    	<div class=img-container>
    		<img src="../../static/Projectimg/crop-info-page-title.png" style="width: 100%">
    		<h1>Together we can cultivate a hunger-free world</h1>
    		<button onclick="scrollToSection()">Search for Your Crops Optimum Conditions</button>
    	</div>
    </section>
	<section class="search">
		{% block content %}
		<div class="display-block">
			<form method = "POST">
				{{ form.csrf_token() }}
				<div class="search-block">
					<div class="search-bar">
						<div id="search-input">
							{{ form.search }}
							{% for error in form.search.errors %}
								{{ error }}
							{% endfor %}
						</div>
					</div>
					{{ form.submit(class="button") }}
				</div>
			</form>
			<div class="search-display">
				<div class="top-container">
					<div id="crop-img-container">
						<a href="{{ image }}">
  							<img src="{{ image }}">
						</a>
					</div>
					<div class="small-text-container">
						<div class="column-container">
							<div class="attribute-container">
								<div class="attribute">Name:</div>
								<div class="value">{{ name }}</div>
							</div>
							<div class="attribute-container">
								<div class="attribute">Species:</div>
								<div class="value">{{ species }}</div>
							</div>
							<div class="attribute-container">
								<div class="attribute">Life Form:</div>
								<div class="value">{{ life_form }}</div>
							</div>
							<div class="attribute-container">
								<div class="attribute">Category:</div>
								<div class="value">{{ category }}</div>
							</div>
						</div>
						<div class="column-container">
							<div class="attribute-container">
								<div class="attribute">Life Span:</div>
								<div class="value">{{ life_span }}</div>
							</div>
							<div class="attribute-container">
								<div class="attribute">Physiology:</div>
								<div class="value">{{ physiology }}</div>
							</div>
							<div class="attribute-container">
								<div class="attribute">Plant Attributes:</div>
								<div class="value">{{ attributes }}</div>
							</div>
							<div class="attribute-container">
								<div class="attribute">Main Use:</div>
								<div class="value">{{ main_use }}</div>
							</div>
						</div>
					</div>
				</div>
				<div class="big-text-container">
					<div class="column-container">
						<div class="attribute-container">
							<div class="attribute">Optimum Min Temp (°C):</div>
							<div class="value">{{ opt_min_temp }}</div>
						</div>
						<div class="attribute-container">
							<div class="attribute">Optimum Max Temp (°C):</div>
							<div class="value">{{ opt_max_temp }}</div>
						</div>
						<div class="attribute-container">
							<div class="attribute">Absolute Min Temp (°C):</div>
							<div class="value">{{ abs_min_temp }}</div>
						</div>
						<div class="attribute-container">
							<div class="attribute">Absolute Max Temp (°C):</div>
							<div class="value">{{ abs_max_temp }}</div>
						</div>
						<div class="attribute-container">
							<div class="attribute">Optimum Min Rain (mm):</div>
							<div class="value">{{ opt_min_rain }}</div>
						</div>
						<div class="attribute-container">
							<div class="attribute">Optimum Max Rain (mm):</div>
							<div class="value">{{ opt_max_rain }}</div>
						</div>
					</div>
					<div class="column-container">
						<div class="attribute-container">
							<div class="attribute">Absolute Min Rain (mm):</div>
							<div class="value">{{ abs_min_rain }}</div>
						</div>
						<div class="attribute-container">
							<div class="attribute">Absolute Max Rain (mm):</div>
							<div class="value">{{ abs_max_rain }}</div>
						</div>
						<div class="attribute-container">
							<div class="attribute">Optimum Min PH:</div>
							<div class="value">{{ opt_min_ph }}</div>
						</div>
						<div class="attribute-container">
							<div class="attribute">Optimum Max PH:</div>
							<div class="value">{{ opt_max_ph }}</div>
						</div>
						<div class="attribute-container">
							<div class="attribute">Absolute Min PH</div>
							<div class="value">{{ abs_min_ph }}</div>
						</div>
						<div class="attribute-container">
							<div class="attribute">Absolute Max PH</div>
							<div class="value">{{ abs_max_ph }}</div>
						</div>
					</div>
					<div class="column-container">
						<div class="attribute-container">
							<div class="attribute">Absolute Min Altitude:</div>
							<div class="value">{{ abs_min_alt }}</div>
						</div>
						<div class="attribute-container">
							<div class="attribute">Absolute Max Altitude:</div>
							<div class="value">{{ abs_max_alt }}</div>
						</div>
						<div class="attribute-container">
							<div class="attribute">Optimum Min Light:</div>
							<div class="value">{{ opt_min_light }}</div>
						</div>
						<div class="attribute-container">
							<div class="attribute">Optimum Max Light:</div>
							<div class="value">{{ opt_max_light }}</div>
						</div>
						<div class="attribute-container">
							<div class="attribute">Optimum Salinity:</div>
							<div class="value">{{ opt_sal }}</div>
						</div>
						<div class="attribute-container">
							<div class="attribute">Optimum Drainage:</div>
							<div class="value">{{ opt_drain }}</div>
						</div>
					</div>
					<div class="column-container">
						<div class="attribute-container">
							<div class="attribute">Optimum Depth:</div>
							<div class="value">{{ opt_depth }}</div>
						</div>
						<div class="attribute-container">
							<div class="attribute">Optimum Texture:</div>
							<div class="value">{{ opt_text }}</div>
						</div>
						<div class="attribute-container">
							<div class="attribute">Optimum Fertility:</div>
							<div class="value">{{ opt_fert }}</div>
						</div>
						<div class="big-attribute-container">
							<div class="attribute">Climate Zone:</div>
							<div class="value">{{ clim_zone }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endblock %}
	<section class="donation">
		<div class="display-block">
			<div class="donation-container">
				<div id="img-container">
					<img src="../../static/Projectimg/charity2.jpg" style="height: 396px">
				</div>
				<div id="donate-textbox">
					<h1>Donate to Stop Hunger</h1>
					<p>Donating to the United Nations Zero Hunger sustainability goals 
					is a crucial step towards ending world hunger. Around 690 million 
					people in the world suffer from hunger, and achieving the goal of zero 
					hunger by 2030 requires collective action from individuals, 
					organisations, and governments. Donations to these goals are used to 
					provide essential resources such as food, clean water, and agricultural 
					training to those in need. The Zero Hunger sustainability goals also 
					address issues such as food waste, sustainable agriculture, and social 
					protection measures for vulnerable communities. By supporting these 
					goals, we can help create a world where everyone has access to the 
					food and resources they need to live a healthy and fulfilling life</p>
					<button><a href="{{url_for('Donationpage.donations')}}">Donate and Save Lives</a></button>
				</div>
			</div>
		</div>
	</section>
	<section class="footer">
		<div id="admin-account">
			<button><a href="../users/login.html">Admin Centre</a></button>
		</div>
		<p>&copy; 2023 Precision Agriculture. All Rights Reserved.</p>
		<div id="colour-blind-toggle">
			<button onclick="toggleColours()">Toggle Colour Blind Mode</button>
		</div>
	</section>
<script>

	var toggle = false;

	function toggleColours() {		
		console.log(document.getElementsByClassName("display-block"));
		if (toggle == true) { //green-grey colour scheme
			document.getElementsByClassName("header")[0].style.backgroundColor = "white";
			document.getElementsByClassName("page-title-section")[0].style.backgroundColor = "#333";
			document.getElementsByClassName("display-block")[0].style.backgroundColor = "#689b6c";
			document.getElementsByClassName("display-block")[1].style.backgroundColor = "#689b6c";
			document.getElementsByClassName("footer")[0].style.backgroundColor = "#333";

			toggle = false;
		}
		else { //blue-brown colour scheme
			document.getElementsByClassName("header")[0].style.backgroundColor = "#6e4426";
			document.getElementsByClassName("page-title-section")[0].style.backgroundColor = "#88CCEE";
			document.getElementsByClassName("display-block")[0].style.backgroundColor = "#88CCEE";
			document.getElementsByClassName("display-block")[1].style.backgroundColor = "#88CCEE";
			document.getElementsByClassName("footer")[0].style.backgroundColor = "#6e4426";			
			
			toggle = true;
		}
	}
	
	function displayInput() {
  		const input = document.getElementById("search-input").value;
  		const output = document.getElementsByClassName("value")[0];
  		output.textContent = input;
	}

	function scrollToSection(){
		var element = document.querySelector('.search');
   		element.scrollIntoView({behavior: "smooth"});
	}
</script>
</body>
</html>