@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
/* <--- Base.html css styling code --> */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

body {
    background-color: #689b6c;
}

.header {
    width: 100%;
    height: 10vh;
    display: inline-block;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
}

.header .logo-container {
    position: relative;
    float: left;
    width: 30%;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}

.header .logo-container img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}

.header .navbar {
    height: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
}

.header .navbar ul {
  	list-style-type: none;
  	margin-left: auto;
}

.header .navbar ul li {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}

.header .navbar ul li a {
    text-decoration: none;
    color: black;
}

.header .navbar ul .active {
    text-decoration: underline;
}

.header .navbar ul #active {
    text-decoration: underline;
}

.page-title-section {
	width: 100%;
    height: 740px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 2px solid black;
}

.page-title-section .img-container {
	height: 40%;
	width: 75%;
}

.page-title-section .img-container h1 {
	margin-top: 55px;
	font-size: 1.75em;
	color: white;
}

.page-title-section .img-container button {
    background-color: #5A8073;
    border: none;
    margin-top: 55px;
    width: 50%;
    height: 20%;
    color: white;
    font-size: 15px;
    transition: 0.5s;
}

.page-title-section .img-container button:hover {
    background-color: #689b6c;
    margin-top: 55px;
    width: 50%;
    height: 20%;
}

.footer {
    background-color: #333;
    display: flex;
    width: 100%;
    height: 5vh;
    text-align: center;
    align-items: center;
    color: white;
}

.footer p {
    margin: auto;
}

.footer #colour-blind-toggle{
	float: right;
	height: 5vh;
	width: 150px;
	display: flex;
	justify-content: center;
	margin-right: 10px;

}

.footer #colour-blind-toggle button{
	color: white;
	background-color: #333;
	border: none;
	text-decoration: underline;
	font-size: 12px;
	
}

.footer #colour-blind-toggle button:hover{
	color: #AAA;
}

.footer #admin-account{
	float: left;
	height: 5vh;
	width: 150px;
	display: flex;
	justify-content: center;
	margin-right: 10px;

}

.footer #admin-account button{
	color: white;
	background-color: #333;
	border: none;
	text-decoration: underline;
	font-size: 12px;
	
}

.footer #admin-account button:hover{
	color: #AAA;
}

.footer #admin-account button a{
	color: white;
}

/* <--- homepage.html css styling code --> */
.homepage {
    width: 100%;
    height: 90vh;
    background-color: #333333;
    position: relative;
}



.homepage .homepage-container {
    position: absolute;
    top: 0%;
    text-align: center;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 3rem;
}

.homepage .homepage-container .homepage-container-text {
    position: absolute;
    top: 20%;
    text-align: center;
    width: 100%;
    height: fit-content;
    color: white;
    font-size: 3rem;
}

.homepage .homepage-container .title-image {
    width: 80%;
    height: auto;
}

.homepage .homepage-container h1 {
    font-size: 3rem;
    text-align: center;

}

.homepage .homepage-container h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 30px;
}

.homepage .homepage-container button {
    display: inline-block;
    background-color: #689b6c;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 1px white;
    color: white;
    cursor: pointer;
}

.homepage .homepage-container a {
    color: white;
    text-decoration: none;
}

.homepage .homepage-container .socialmedia-container {
    position: absolute;
    top: 90%;
    left: 2.5%;
    cursor: pointer;
}

.about-section {
    width: 100%;
    height: 70vh;
    background-color: white;
}

.about-section .about-container{
    width: 100%;
    height: fit-content;
}

.about-section .about-container .about-container-text {
    float: left;
    width: 33.33%;
    height: 100%;
    background-color: white;
    font-size: 18px;
    padding: 20px;
}

.about-section .about-container .about-container-text h3 {
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
}

.about-section .about-container .about-container-text p {
    margin-top: 40px;
}

.about-section .about-container .about-container-image {
    float: left;
    position: relative;
    width: 33.33%;
    height: 70vh;
}

.about-section .about-container .about-container-image img {
    width: 100%;
    height: 100%;

}

.about-section .about-container .about-container-image .img1{
    float: right;
    border: 3px solid black;
    border-radius: 60%;
    width: 90%;
    height: 60%;
    top: 20%;
    left: 5%;
    position: absolute;
}

.about-section .about-container .about-container-form {
    float: left;
    width: 33.33%;
    height: 100%;
    background-color: white;
}

.about-container .about-container-form form {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.about-container .about-container-form form h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

.about-container .about-container-form form h4 {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 30px;
}


.about-container .about-container-form form  input{
    display: block;
    width: 85%;
    height: 50px;
    margin: auto;
    padding: 5px;

}
.about-container .about-container-form form label {
    display: block;
    width: 85%;
    margin: auto;
    margin-top: 10px;
}

.about-container .about-container-form form textarea {
    display: block;
    margin: auto;
    width: 85%;
    margin-top: 10px;
    height: 150px;
    resize: none;
    padding: 10px;
}

.about-container .about-container-form form button {
    display: block;
    background-color: #689b6c;
    border: solid 1px white;
    color: white;
    cursor: pointer;
    height: 50px;
    width: 85%;
    margin: auto;
    margin-top: 20px;

}

.about-container .about-container-form form button:hover {

}

.homepage-donations-section {
    width: 100%;
    height: 40vh;
    background-color: white;
}

.homepage-donations-section .homepage-donations-container {
    width: 100%;
    height: 100%;

}

.homepage-donations-section .homepage-donations-container .homepage-donations-column{
    width: 25%;
    height: 100%;
    background-color: #689b6c;
    float: left;
    display: block;
    background-size: cover;
    text-align: justify;

}

.homepage-donations-section .homepage-donations-container .homepage-donations-column p {
    color: white;
    font-size: 19px;
    padding: 30px;
}

.homepage-donations-section .homepage-donations-container .homepage-donations-column1 {
    width: 75%;
    height: 100%;
    float: left;
    display: block;
    text-align: center;
    position: relative;
    z-index: 3;

}

.homepage-donations-section .homepage-donations-container .homepage-donations-column1 img {
    z-index: 1;
    width: 100%;
    height: 100%;
}


.homepage-donations-section .homepage-donations-container .homepage-donations-column1 h1{
    margin-top: 5.5%;
    font-size: 3rem;
    font-weight: bolder;
    color: #ffffff;
    position: absolute;
    top: 8%;
    bottom: 20%;
    left: 10%;
    right: 10%;



}

.homepage-donations-section .homepage-donations-container .homepage-donations-column1 button {
    width: 50%;
    height: 50px;
    background-color: #689b6c;
    color: white;
    font-size: 17px;
    position: absolute;
    top: 45%;
    bottom: 0%;
    left: 25%;
    right: 0%;

}

.homepage-donations-section .homepage-donations-container .homepage-donations-column1 button:hover {
    background-color: #85c489;
    color: #333333;
    transition: 0.5s;
}

/* <--- Users CSS Styling Code --> */

.form-container {
    width: 100%;
    height: fit-content;
    background-color: #689b6c;
    margin: auto;
    position: relative;
    padding: 30px;
}

.form-container form {
    height: fit-content;
    margin: auto;
    width: 25%;
    background-color: white;
    border: #66795e 1px solid;
    border-radius: 20px;
    padding: 20px;
}

.form-container form  .form-logo{
    width: 80%;
    margin: auto;
    height: fit-content;
    display: block;
    margin-bottom: 30px;
}

.form-container form  input{
    width: 80%;
    height: 40px;
    margin: auto;
    display: block;
    border: solid #689b6c 2px;
    border-radius: 20px;
    padding: 5px;
}

.form-container form .form-labels{
    text-align: center;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.form-container form .button {
    display: block;
    background-color: #8fa689;
    border: none;
    margin: auto;
    margin-top: 20px;
    width: 60%;
    height: 50px;
    color: white;
    font-size: 15px;
    transition: 0.5s;
}

.form-container form button:hover {
    background-color: #85c489;
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 60%;
    height: 50px;
}

.form-container form .bottom-form-container {
    display: block;
}

/* <--- Map Page CSS Styling Code --> */
.map .display-block {
    width: 100%;
    display: flex;
    align-self: center;
    padding: 30px;
    justify-content: space-between;
    background-color: #689b6c;
}

.map .display-block .info-container {
	height: 760px;
	width: 37.5%;
	background-color: #fff;
    border: 2px solid black;
    float: left;
    display: block;
    padding: 20px;
}

.map .display-block .info-container .attribute-container{
	height: 47px;
	width: 100%;
	display: flex;
}

.map .display-block .info-container .attribute-container #attribute-textbox {
	float: left;
	width: 60%;
    color: black;
    padding-right: 20px;
}

.map .display-block .info-container .attribute-container #info-textbox {
    width: 40%;
    color: #995546;
}

.map .display-block .info-container .recommend-container{
	height: 199px;
	width: 100%;
}

.map .display-block .info-container .recommend-container #attribute-textbox {
	float: left;
	width: 60%;
    color: black;
    padding-right: 20px;
}

.map .display-block .info-container .recommend-container #info-textbox {
    width: 40%;
    float: right;
    color: #995546;
}

.map .display-block .map-container {
    float: right;
    width: 60%;
    height: 760px;
    border: 2px solid black;
}

.donation .display-block {
    width: 100%;
    display: flex;
    align-self: center;
    padding: 30px;
    padding-top: 0;
    justify-content: space-between;
    background-color: #689b6c;
}

.donation .display-block .donation-container {
	height: 400px;
	width: 100%;
	background-color: #fff;
    border: 2px solid black;
}

.donation .display-block .donation-container #img-container {
	height: 396px;
	background-color: #000;
	float: left;
}

.donation .display-block .donation-container #donate-textbox {
	height: 396px;
	float: left;
	width: 50%;
	padding: 30px;
}

.donation .display-block .donation-container #donate-textbox h1{
	font-size: 2rem;
}

.donation .display-block .donation-container #donate-textbox button {
    display: block;
    background-color: #8fa689;
    border: none;
    margin-top: 20px;
    width: 60%;
    height: 12%;
    color: white;
    font-size: 15px;
    transition: 0.5s;
}

.donation .display-block .donation-container #donate-textbox button:hover {
    background-color: #85c489;
    display: block;
    margin-top: 20px;
    width: 60%;
    height: 12%;
}

.donation .display-block .donation-container #donate-textbox a {
  	color: white;
    text-decoration: none;
}

/* <--- Donation Page CSS Styling Code ---> */
.donation-section{
    width: 100%;
    height: 825px;
    display: block;
    align-self: center;
    padding: 30px;
    justify-content: space-between;
    background-color: #689b6c;
}

.donation-section .donate-container {
	height: 100%;
	width: 47.5%;
	display: block;
    float: right;
}

.donation-section .donate-container .charity {
	height: 140px;
	width: 100%;
	display: flex;
	margin-bottom: 16px;
}

.donation-section .donate-container .charity #charity-logo-img{
	height: 140px;
	width: 140px;
	margin-right: 11.5px;
	border: 2px solid black;
	
}
	
.donation-section .donate-container .charity #charity-logo-img img{
    height: 136px;
    width: 136px;
}

.donation-section .donate-container .charity .info-container{
	height: 140px;
	width: 500px;
	background-color: white;
	border: 2px solid black;
	display: flex;
}

.donation-section .donate-container .charity .info-container #text-box{
	height: 136px;
	width: 350px;
	background-color: white;
	padding: 5px;
	display: block;
}

.donation-section .donate-container .charity .info-container #text-box h1 {
	width: 340px;
	margin-bottom: 5px;
}

.donation-section .donate-container .charity .info-container #text-box h4 {
	width: 340px;
	font-size: 15px;
	color: #333;
}

.donation-section .donate-container .charity .info-container a button {
    background-color: #8fa689;
    border: none;
    width: 146px;
    height: 100%;
    color: white;
    font-size: 18px;
    transition: 0.5s;
    float: right;
}

.donation-section .donate-container .charity .info-container a button:hover {
    background-color: #85c489;
    color: #333;
}

.donation-section .img-container {
    height: 100%;
    width: 50%;
    border: 2px solid black;
    float: left;
}

/* <--- Crop Management Page CSS Styling Code ---> */
.search .display-block {
    width: 100%;
    height: 825px;
    display: block;
    align-self: center;
    padding: 30px;
    justify-content: space-between;
    background-color: #689b6c;
}

.search .display-block .search-block {
	width: 100%;
	height: 40px;
	margin-bottom: 30px;
	display: flex;
}

.search .display-block .search-block .search-bar {
	width: 33%;
	height: 40px;
	color: #995546;
	border: 2px solid black;
	background-color: #fff;
	margin-right: 30px;
	display: flex;
	align-self: center;
}

.search .display-block .search-block .search-bar #search-input input[type="text"]{
	padding-left: 10px;
	padding-right: 10px;
    border: none;
    background: none;
    outline: none;
    font-size: 24px;
    width: 100%;
}

.search .display-block .search-block .button {
    display: block;
    background-color: #8fa689;
	border: 2px solid black;
    width: 20%;
    height: 40px;
    color: white;
    font-size: 15px;
    transition: 0.5s;
}

.search .display-block .search-block .button:hover {
    background-color: #85c489;
    width: 20%;
    height: 40px;
}

.search .display-block .search-display {
	width: 100%;
	height: 690px;
	background-color: #fff;
	border: 2px solid black;
	float: left;
	padding: 20px;
	display: flex;
  	flex-direction: column;
}

.search .display-block .search-display .top-container{
	order: 1;
  	flex: 0 0 241px;
  	margin-bottom: 20px;
}

.search .display-block .search-display #crop-img-container{
	width: 153px;
	height: 241px;
	float: left;
	margin-right: 20px;
}

.search .display-block .search-display #crop-img-container a img{
	width: 153px;
	height: 241px;
}

.search .display-block .search-display .small-text-container{
	width: 1163px;
	height: 241px;
	float: right;
	display: flex;
}

.search .display-block .search-display .small-text-container .column-container{
	width: 581.5px;
	height: 241px;
}

.search .display-block .search-display .small-text-container .column-container .attribute-container{
	width: 581.5px;
	height: 60px;
	display: flex;
}

.search .display-block .search-display .small-text-container .column-container .attribute-container .attribute{
	height: 60px;
	width: auto;
	font-size: 24px;
  	align-items: center;
  	display: flex;
}

.search .display-block .search-display .small-text-container .column-container .attribute-container .value{
	height: 60px;
	width: auto;
	font-size: 24px;
  	align-items: center;
	display: flex;
	margin-left: 20px;
}

.search .display-block .search-display .big-text-container{
	order: 2;
  	flex: 0 0 385px;
  	display: flex;
}

.search .display-block .search-display .big-text-container .column-container{
	width: 334px;
	height: 385px;
}

.search .display-block .search-display .big-text-container .column-container .attribute-container{
	width: 334px;
	height: 64px;
	display: flex;
}

.search .display-block .search-display .big-text-container .column-container .attribute-container .attribute{
	height: 64px;
	width: auto;
	font-size: 16px;
  	align-items: center;
  	display: flex;
}

.search .display-block .search-display .big-text-container .column-container .attribute-container .value{
	height: 64px;
	width: auto;
	font-size: 16px;
  	align-items: center;
	display: flex;
	margin-left: 20px;
}

.search .display-block .search-display .big-text-container .column-container .big-attribute-container{
	width: 334px;
	height: 192px;
	display: flex;
}

.search .display-block .search-display .big-text-container .column-container .big-attribute-container .attribute{
	height: 192px;
	width: auto;
	font-size: 16px;
  	display: flex;
  	margin-top: 16px;
}

.search .display-block .search-display .big-text-container .column-container .big-attribute-container .value{
	height: 192px;
	width: auto;
	font-size: 16px;
	display: flex;
	margin-left: 20px;
  	margin-top: 16px;
}
/* <--- Profile Page CSS Styling Code --> */

.profile-container {
    width: 100%;
    height: 90vh;
    background-color: #689b6c;
}

.profile-element-container{
    width: 50%;
    height: 100%;
    background-color: white;
    margin: auto;
}

.profile-element-item {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border: solid 3px #689b6c;
    text-align: center;
}

.profile-element-item img {
    width: 25%;
    height: 25%;
}

.profile-element-item h1 {
    margin-top: 20px;
}

.profile-element-item .user-farms {
    width: 100%;
    height: 40%;
    overflow-y: scroll;
    margin: auto;
    margin-top: 20px;
    border: solid 1px #689b6c;
}

.profile-element-item .add-farm-container {
    width: 100%;
    height: auto;
    overflow-y: scroll;
    margin-top: 20px;
	display: flex;
}

.profile-element-item .add-farm-container .search-bar {
	width: 75%;
	height: 40px;
	color: #995546;
    border: solid 1px #689b6c;
	background-color: #fff;
	margin-right: 5%;
	display: flex;
	align-self: center;
	float: left;
}

.profile-element-item .add-farm-container .search-bar #search-input input[type="text"]{
	padding-left: 10px;
	padding-right: 10px;
    border: none;
    background: none;
    outline: none;
    font-size: 24px;
    width: 100%;
}

.profile-element-item .add-farm-container button {
    background-color: #8fa689;
    border: none;
    width: 20%;
    height: 40px;
    color: white;
    font-size: 15px;
    transition: 0.5s;
    float: right;
}

.profile-element-item .add-farm-container button:hover {
    background-color: #85c489;
    width: 20%;
    height: 40px;
}

/* <--- admin.html css styling code --> */

.admin-container {
    width: 100%;
    height: 90vh;
    background-color: #689b6c;
}

.admin-element-container{
    width: 50%;
    height: 100%;
    background-color: white;
    margin: auto;
}

.admin-element-item {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border: solid 3px #689b6c;
    text-align: center;
}

.admin-element-item img {
    width: 25%;
    height: 25%;
}

.admin-element-item h1 {
    margin-top: 20px;
}

.admin-element-item .admin-username {
    margin-bottom: 20px;
}

.admin-element-item .user-control {
    width: 100%;
    height: 55%;
    margin-top: 20px;
    display: flex;
}

.admin-element-item .user-control .search-display {
    width: 80%;
    height: 100%;
}

.admin-element-item .user-control .search-display .search-bar {
	width: 50%;
	height: 40px;
	color: #995546;
    border: solid 1px #689b6c;
	background-color: #fff;
	margin-right: 30px;
	display: flex;
	align-self: center;
}

.admin-element-item .user-control .search-display .search-bar #search-input {
	padding-left: 10px;
	padding-right: 10px;
    border: none;
    background: none;
    outline: none;
    font-size: 24px;
    width: 100%;
}

.admin-element-item .user-control .search-display #search-output{
    width: 100%;
    height: 85%;
    margin-top: 10px;
    padding: 10px;
    border: solid 1px #689b6c;
}

.admin-element-item .user-control .action-display {
    width: 20%;
    height: 100%;
    padding-top: 45px;
}

.admin-element-item .user-control .action-display button {
    margin: 5px;
    background-color: #8fa689;
    border: none;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 15px;
    transition: 0.5s;
}

.admin-element-item .user-control .action-display button:hover {
    background-color: #85c489;
    width: 100%;
    height: 40px;
}